@use 'toolbox' as *;

@layer molecules {
    .search-result {
        display: flex;
        flex-wrap: wrap;

        span {
            padding-right: var(--semantic-measures-spacing-008);
        }
    }
}
